.App {
  text-align: center;
  margin-top: 20px;
}

.join-block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.join-block input {
  margin-bottom: 15px;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
}

.join-block button {
  background-color: green;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.join-block button:hover {
  cursor: pointer;
}

.chat {
  display: flex;
  margin-top: 20px;
  border: 1px solid rgb(162, 162, 162);
  width: 60%;
  margin: 0 auto;
  border-radius: 6px;
}

.chat_left {
  width: 20%;
  text-align: start;
  padding: 25px 15px;
  background-color: rgb(226, 226, 226, 0.4);
}

.chat_right {
  padding-left: 50px;
  padding: 25px 15px;
  width: 80%;
}

.chat_left_amount {
  margin-bottom: 20px;
  font-weight: 600;
}

.message_wrapper {
  margin-bottom: 25px;
  text-align: start;
}

.message_text {
  background-color: blueviolet;
  color: #fff;
  padding: 7px 12px;
  border-radius: 5px;
  width: fit-content;
}

.message_who {
  font-size: 13px;
  color: rgb(85, 85, 85);
}

.chat_left_user {
  background-color: #fff;
  padding: 7px 12px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
}

.message_input_wrapper {
  margin-top: 100px;
  width: 100%;
  text-align: start;
}

textarea {
  padding: 7px 20px;
  width: calc(100% - 45px);
  margin-top: 15px;
  height: 70px;
}

.message_send {
  background-color: blue;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 15px;
  display: inline-block
  
}